body{
    background-color: #421ea7;
}

.list h1{
    text-align: center;
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(22, 246, 235);
    text-decoration: underline;
}

.list a, li{
    color: beige;
    text-decoration: none;
    text-align: center;
    line-height: 100px;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.list a:hover{
    text-decoration: underline;
}